@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;0,300;0,500;0,600;0,700;1,600&display=swap');

@tailwind base;

@tailwind components;

.landing-title {
  @apply text-3xl font-bold my-16;
}

.paragraph-text {
  @apply font-light text-base leading-normal text-justify;
}

.dark-mode {
  @apply bg-black text-white;
}

.light-mode {
  @apply bg-white text-black;
}

.nav-scroll-link {
  @apply hidden font-medium tracking-wider text-black cursor-pointer;
}

.mobile-nav-scroll-link {
  @apply font-medium text-sm tracking-wider text-black cursor-pointer py-2;
}

@variants hover, focus {
  .gradient-blue-top {
    background: -webkit-linear-gradient(top, theme('colors.aqua'), theme('colors.purple'));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .gradient-blue-right {
    background: -webkit-linear-gradient(right, theme('colors.aqua'), theme('colors.purple'));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .gradient-blue-bottom {
    background: -webkit-linear-gradient(bottom, theme('colors.aqua'), theme('colors.purple'));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .gradient-blue-left {
    background: -webkit-linear-gradient(left, theme('colors.aqua'), theme('colors.purple'));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@tailwind utilities;
